.gradle
.idea
build

buildSrc/.gradle
buildSrc/build

core/.gradle
core/build

api/.gradle
api/build

jars

paper/.gradle
paper/build


!paper/run/config/paper-world-defaults.yml
!paper/run/config/paper-global.yml
!paper/run/server.properties
!paper/run/spigot.yml
!paper/run/bukkit.yml
!paper/run/eula.txt